<section class="hero" id="inicio">
  <div class="container hero-container">
    <div class="hero-content">
      <h2>Cuidamos do seu pet com amor e dedicação</h2>
      <p>No Amigo Fiel, oferecemos serviços premium para garantir a saúde, bem-estar e felicidade do seu animal de estimação. Nossa equipe de especialistas está pronta para atender todas as necessidades do seu pet.</p>
      <button class="btn-primary" (click)="scrollToSection('servicos')">Conheça Nossos Serviços</button>
    </div>
    <div class="hero-image">
      <img src="assets/imagem-cachorro.webp" 
           alt="Cachorro e gato juntos em um pet shop">
    </div>
  </div>
</section>